<!DOCTYPE html>
<html>

<head>
    <title>Smart Study Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <div style="text-align: right; margin-bottom: 10px;">
            <span>Welcome, {{ username }}!</span> | <a href="/logout">Logout</a>
        </div>

        <h1>📚 Study Tracker</h1>

        <input type="text" id="subject" placeholder="Enter subject">

        <br>

        <button class="start" onclick="startSession()">Start</button>
        <button class="stop" onclick="stopSession()">Stop</button>

        <h3 id="status"></h3>

        <h2>Total Time: <span id="total">0</span> sec</h2>

        <h3>Sessions</h3>
        <ul id="sessionList"></ul>
    </div>

    <script src="/static/script.js"></script>

</body>

</html>